@import "tailwindcss";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }
  .slide-in-from-top {
    animation-name: slideInFromTop;
  }
  .slide-in-from-bottom {
    animation-name: slideInFromBottom;
  }
.duration-500 {
    animation-duration: 500ms;
  }
.duration-200 {
    animation-duration: 200ms;
  }
.duration-700 {
    animation-duration: 700ms;
  }
}
@keyframes slideInFromTop {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideInFromBottom {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
