# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vite cache
.vite/
# Backend Django
backend/env/
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/*.log
backend/*/migrations/*.py
!backend/*/migrations/__init__.py